.footer {
}
.footer__container {
}
.footer__top {
    display: flex;
}
.footer__top-left {
    flex: 1 1 80%;
}
.top-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-left__column {
    flex: 0 1 29.5%;
}
.top-left__title {
    @include font (2.1rem, 3.15rem, 700);
    margin-bottom: 20px;
}
.top-left__links {
    @include font (1.4rem, 2.1rem);
    color: $color-text;
    & > li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 30px;
        }
    }
    a {
        color: inherit;
        @extend %transition;
        &:hover {
            text-decoration: underline;
            opacity: 0.4;
        }
    }
}
.footer__top-right {
    flex: 1 1 25%;
}
.top-right {
    display: flex;
    flex-direction: column;
}
.top-right__title {
    @include font (1.1rem, 1.65rem);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 10px;
    &:not(:first-child) {
        margin-top: 30px;
    }
}
.top-right__text {
    @include font (2.1rem, 3.15rem, 700);
    margin-bottom: 15px;
    @media (max-width: 1050px) {
        @include font (1.8rem, 2.4rem, 700);
    }
}
.footer__bottom {
    margin-top: 44px;
    border-top: 1px solid #c4c4c4;
    @media (max-width: 1200px) {
        margin: 0px -15px;
    }
    @include add-size {
        margin: 0;
        border: none;
    }
}
.footer-copy {
    min-height: 87px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    @media (max-width: 1200px) {
        border: none;
    }
    @include add-size {
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
    }
}
.footer-copy__legislation {
    border-right: 1px solid #c4c4c4;
    @media (max-width: 1200px) {
        border: none;
        flex: 0 1 50%;
    }
    @include add-size {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
    }
}
.legislation {
    @media (max-width: 1250px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.legislation__privacy-policy {
    display: flex;
    align-items: center;
    @include font (1.2rem, 1.8rem, 400);
    a {
        color: inherit;
    }
    @media (max-width: 1000px) {
        @include font (1rem, 1.5rem, 400);
    }
}
.legislation__text {
    flex: 0 1 61.5%;
    @include add-size {
        flex: 0 1 auto;
        margin-right: 15px;
    }
}
.legislation__link {
    flex: 0 1 39.5%;
    text-decoration: underline;
    // white-space: nowrap;
    &:hover {
        opacity: 0.4;
    }
    @include add-size {
        flex: 0 1 auto;
        white-space: nowrap;
    }
}
.footer-copy__item {
    align-self: center;
    display: flex;
    justify-content: center;
    @media (max-width: 1200px) {
        flex: 0 1 auto;
    }
}
.visually-impaired {
}
.footer__social {
    @media (max-width: 1200px) {
        & .network {
            border: none;
        }
        flex: 0 1 auto;
    }
}
