.footer {
}
.footer__container {
}
.footer__top {
    display: flex;
}
.footer__top-left {
    flex: 1 1 80%;
}
.top-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-left__column {
    flex: 0 1 29.5%;
}
.top-left__title {
    @include font (2.1rem, 3.15rem, 700);
    margin-bottom: 20px;
}
.top-left__links {
    @include font (1.4rem, 2.1rem);
    color: $color-text;
    & > li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 30px;
        }
    }
    a {
        color: inherit;
        @extend %transition;
        &:hover {
            text-decoration: underline;
            opacity: 0.4;
        }
    }
}
.footer__top-right {
    flex: 1 1 25%;
}
.top-right {
    display: flex;
    flex-direction: column;
}
.top-right__title {
    @include font (1.1rem, 1.65rem);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 10px;
    &:not(:first-child) {
        margin-top: 30px;
    }
}
.top-right__text {
    @include font (2.1rem, 3.15rem, 700);
    margin-bottom: 15px;
}
.footer__bottom {
    margin-top: 44px;
    border-top: 1px solid #c4c4c4;
}
.footer-copy {
    min-height: 87px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}
.footer-copy__legislation {
    border-right: 1px solid #c4c4c4;
}
.legislation {
}
.legislation__privacy-policy {
    display: flex;
    align-items: center;
    @include font (1.2rem, 1.8rem, 400);
    a {
        color: inherit;
    }
}
.legislation__text {
    flex: 0 1 61.5%;
}
.legislation__link {
    flex: 0 1 39.5%;
    text-decoration: underline;
    // white-space: nowrap;
    &:hover {
        opacity: 0.4;
    }
}
.footer-copy__item {
    align-self: center;
    display: flex;
    justify-content: center;
}
.visually-impaired {
}
.footer__social {
}
