.header__container {
  @media (max-width: 1200px) {
    padding: 0;
  }
}

.header__body {
  min-height: 87px;
  display: flex;
  @include flex(1, 1, 100%);
  // align-items: center;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  @include media-laptop {
    justify-content: center;
  }
  @include add-size {
    border-left: none;
    border-right: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
  }
}

.header__logo {
  // margin: 0px 35px;
  padding: 0px 35px;
  align-self: center;
  // @include flex (1);
  @include media-laptop {
    padding: 0px 15px;
  }
  @media (max-width: 600px) {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }
}

.contact-header {
  display: flex;
  white-space: nowrap;
  // align-items: center;
  @include add-size {
    flex: 1 1 auto;
    margin: 10px 0;
    order: 3;
    justify-content: center;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
.contact-header__item {
  // margin: 0px 30px;
  padding: 0px 30px;
  border-left: 1px solid $color-border;
  display: flex;
  align-items: center;
  @include media-laptop {
    padding: 0px 10px;
  }
  @include add-size {
    border-left: none;
  }
  @media (max-width: 600px) {
    margin: 5px 0;
  }
}
.contact-header__link {
  // display: inline-block;
  @include font(1.6rem, 1.9rem);
  &_circle {
    display: flex;
    &:after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $color-additional;
      background-image: url(../../src/images/header/triangle.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 15px;
      border-radius: 50%;
      @include add-size {
        margin-left: 4px;
      }
    }
  }
}

.header__social {
  @media (max-width: 600px) {
    display: none;
  }
}
