.menu {
}
.menu__list {
    display: flex;
    align-items: center;
    @extend %transition;
    @include media-laptop {
        justify-content: center;
    }
    @media (max-width: 1250px) {
        justify-content: space-evenly;
    }
}
.menu__item {
    &:first-child {
        // padding-left: 60px;
        margin-left: 60px;
        @include media-laptop {
            margin-left: 0;
        }
    }
}
.menu__link {
    @include font (1.8rem, 2.7rem);
    color: $color-light;
    &:first-child {
        // padding-right: 65px;
        margin-right: 65px;
        @media (max-width: 1250px) {
            margin-right: 0;
        }
    }
    &:hover {
        text-decoration: underline;
    }
    @include add-size {
        @include font (1.4rem, 2.1rem);
    }
}

.menu__btn {
    // смотри в _buttons
}