.networks {
    display: flex;
  }
  .network {
    // margin: 0px 28px;
    padding: 0px 28px;
    border-left: 1px solid $color-border;
    display: flex;
    align-items: center;
    @extend %transition;
    & img:hover {
      transform: scale(1.4);
    }
  }
  .network_vk {
  }
  .network_youtube {
  }
  .network_facebook {
  }
  .network_instagram {
  }