.offers {
}
.offers__container {
    padding: 80px 0;
}
.offers__body {
  display: flex;
  justify-content: space-between;
}
.offers__innovations {
  @include flex(0, 1, 40.5%);
  // padding-right: 134px;
}
.offers__about-us {
  @include flex(0, 1, 49%);
  @include font (1.4rem, 2.1rem);
  padding-top: 34px;
  background: url(/src/images/innovation/patent__img.jpg) no-repeat 106% 72%;
}
.about-us__text {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  &_spacing {
    margin-bottom: 15px;
  }
  &:before {
    content: '78';
    @include font (4.8rem, 7.2rem);
    margin-right: 20px;
    // width: 50px;
    // height: 78px;
  }
}
.about-us__text_big {
  color: $color-text;
  @include font (2.8rem, 4.2rem);
  margin: 21px 0px 19px;
  &:before {
    content: '20';
    @include font(9.6rem, 14.4rem);
    color: $color-main;
    margin-right: 30px;
  }
}

.offers__news {
}
.news {
}
.news__briefly {
}

.news__header {
}
.news__details {
}
.news__title {
}
.news__description {
}
.special {
}
.special__container {
}
.special__title {
}
.layout-4-column {
}
.proposal {
}
.proposal__item {
}
.proposal__item-top {
}
.proposal__btn {
}
.proposal__item-bottom {
}
.proposal__text {
}
