.offers {
}
.offers__container {
    padding: 80px 0 100px;
    @include media-laptop {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: 1050px) {
      padding-bottom: 50px;
    }
    @include media-tablet {
      padding: 20px 10px;
    }
}
.offers__body {
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    flex-wrap: wrap;
  }
}
.offers__innovations {
  @include flex(0, 1, 40.5%);
  // padding-right: 134px;
  @include media-tablet {
    flex: 1 1 100%;
  }
}
.offers__about-us {
  @include flex(0, 1, 49%);
  @include font (1.4rem, 2.1rem);
  padding-top: 34px;
  background: url(/src/images/innovation/patent__img.jpg) no-repeat 106% 72%;
  @include media-tablet {
    flex: 1 1 100%;
  }
}
.about-us__text {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  &_spacing {
    margin-bottom: 15px;
  }
  &:before {
    content: '78';
    @include font (4.8rem, 7.2rem);
    margin-right: 20px;
    // width: 50px;
    // height: 78px;
    @include media-mobile {
      @include font (3rem, 4.5rem);
    }
  }
  @media (max-width: 600px) {
    color: rgba(0, 0, 0, 0.9);
  }
}
.about-us__text_big {
  color: $color-text;
  @include font (2.8rem, 4.2rem);
  margin: 21px 0px 19px;
  @include media-mobile {
    @include font (2rem, 3rem);
  }
  &:before {
    content: '20';
    @include font(9.6rem, 14.4rem);
    color: $color-main;
    margin-right: 30px;
    @include media-mobile {
      @include font (6rem, 9rem);
    }
  }
}