.services {
  background-color: $color-additional;
  color: $color-light;
}
.services__container {
}
.services__body {
  display: flex;
  justify-content: space-between;
}
.services__content {
  padding-right: 60px;
}
.services__title {
  padding: 133px 0px 20px;
}
.services__text {
  @include font(1.4rem, 2.1rem);
  padding-right: 75px;
  padding-bottom: 38px;
}
.services__arrows {
  margin: 24px 0px 0px 369px;
  @include media-laptop {
    margin-left: 290px;
  }
  @media (max-width: 1250px) {
    margin: 24px 0;
  }
}
.services__promo {
}
.promo-service {
  padding: 24px 0px;
  @include font(2.1rem, 3.15rem);
  color: $color-light;
  text-align: center;
  @extend %transition;
  &:nth-child(odd) {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $color-main;
  }
  &:hover {
    color: $color-text;
  }
}