/* Base start */

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
}

ul {
  // убираем для nav
  // смотри ещё margin and padding + для ol
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
object,
embed {
  max-width: 100%;
}

img {
  display: block;
  // height: auto;
}

// Синюю рамку (a, input, button) убираем при помощи задания outline: none (но её иногда нужно выделять)

:focus,
:active {
  outline: none;
}

// Порядок применения певдоэлементов (можно и для btn): a:link, a:visited, a:hover, a:focus, a:active

a {
  text-decoration: none;
  // color: $brand-color;
  &:visited {
  }
  &:hover {
  }
  &:focus {
  }
  &:active {
  }
}

button {
  cursor: pointer;
  background-color: transparent; // none
  border: none;
}

// Стилевое оформление всех полей ввода текста, кроме флажков и переключателей
// input:not([type=checkbox]):not([type=radio]) {  display: block; width: 100%;}
// В блочные => они выводятся каждый на своей строке (если нужно). Ширина нужна, т.к. у input она определяется атрибутом size. Если нужна определённая, то указывается в CSS при помощи width.

// Цвет текста для подсказки input::placeholder {color:___;}

/* Base end */

html {
  font-size: 10px;
}

body {
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 1.6rem;
}

// helpers.scss

.wrapper {
  min-height: 100%;
  overflow: hidden;
  // для прижатия footer к низу страницы
  // display: flex;
  // flex-direction: column;
  // .page { flex: 1 1 auto;}
}

._container {
  max-width: $content-width;
  margin: 0 auto;
  @include media-laptop {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include add-size {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// скрытие h1

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 9999.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

// делает из картинки как img фактически фоновое изображение (для backend)
// фрилансер по жизни

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

h2 {
  @include font(4.8rem, 7.2rem, 700);
}

p {
  margin: 0;
}
