%arrow-line {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: $color-light;
    height: 1px;
    width: 30px;
}

.arrow {
  display: inline-block;
  width: 60px;
  height: 50px;
  border: 1px solid $color-light;
  position: relative;
  cursor: pointer;
  @extend %transition;
}
.arrow__line {
    @extend %arrow-line;
    left: 25%;
    top: calc(50% - 0.5px);
}
.arrow_left {
    border-right: 0.5px solid $color-light;
    &:before {
        @extend %arrow-line;
        width: 10px;
        left: 0;
        top: 0;
    }
    &:after {
        @extend %arrow-line;
        width: 10px;
        left: 0;
        bottom: 0;
    }
    &:hover {
        border: 1px solid $color-light;
        transform: scale(0.9);
      }
}
.arrow_right {
    &:hover {
        transform: scale(0.9);
      }
}
