$color-main: #00868a;
$color-additional: #4fbfa5;
$color-light: #ffffff;
$color-border: #c4c4c4;
$color-text: #000000;
$color-bg: #e5f3f3;



$main-font: 'Gilroy', 'Helvetica', sans-serif;
$extra-font: 'Roboto', sans-serif;

$content-width: 1296px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

// desktop
$add-width: 992px;